# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 8</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

### Exercícios Sobre Módulos Python Para Análise de Dados

### ****** ATENÇÃO ******
### Alguns dos exercícios podem requerer pesquisa adicional na documentação dos pacotes. Pesquise!

In [1]:
import pandas as pd
import numpy as np

### Exercício 1

In [13]:
# Crie um array NumPy com 1000000 e uma lista com 1000000.

list1 = np.arange(1, 1000000, 1)
list2 = list(range(0, 1000000))

In [14]:
# Multiplique cada elemento do array e da lista por 2 e calcule o tempo de execução com cada um dos objetos (use %time).
%time
print(type(list1))
list1 * 2

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 9.78 µs
<class 'numpy.ndarray'>

array([      2,       4,       6, ..., 1999994, 1999996, 1999998])

In [15]:
%time
print(type(list2))
list2 * 2

CPU times: user 9 µs, sys: 1 µs, total: 10 µs
Wall time: 18.6 µs
<class 'list'>

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [17]:
# Qual objeto oferece melhor performance, array NumPy ou lista?

Numpy oferece melhor performace

### Exercício 2

In [19]:
# Exercício 2
# Crie um array de 10 elementos
list = np.arange(1, 11, 1)
type(list)
print(list)

[ 1  2  3  4  5  6  7  8  9 10]

In [20]:
# Altere o valores de todos os elementos dos índices 5 a 8 para 0
list[5] = 0
list[8] = 0
print(list)

[ 1  2  3  4  5  0  7  8  0 10]

### Exercício 3

In [26]:
# Crie um array de 3 dimensões e imprima a dimensão 1 
j = 3
k = 3 
l = 3

list = np.zeros((j, k, l))
type(list)
print(list[0])

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

### Exercício 4

In [37]:
# Crie um array de duas dimensões (matriz).
list = np.random.rand(4, 4)
print(list)

[[0.34993879 0.89800901 0.83983715 0.43308448]
 [0.56221387 0.40565135 0.7288209  0.2665576 ]
 [0.39493175 0.98979313 0.33034471 0.36353765]
 [0.06103412 0.44498286 0.04953756 0.79539626]]

In [38]:
# Imprima os elementos da terceira linha da matriz
print(list[2])

[0.06103412 0.44498286 0.04953756 0.79539626]

In [41]:
# Imprima todos os elementos da primeira e segunda linhas e segunda e terceira colunas
print(list[0:3])

[[0.34993879 0.89800901 0.83983715 0.43308448]
 [0.56221387 0.40565135 0.7288209  0.2665576 ]
 [0.39493175 0.98979313 0.33034471 0.36353765]]

### Exercício 5

In [43]:
# Calcule a transposta da matriz abaixo
arr = np.arange(15).reshape((3, 5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [44]:
print(arr.transpose())

[[ 0  5 10]
 [ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]]

### Exercício 6

In [48]:
# Considere os 3 arrays abaixo
# Retorne o valor do array xarr se o valor for True no array cond.
# Caso contrário, retorne o valor do array yarr.
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

In [49]:
for i in range(len(cond)):
    if cond[i] == True:
        print(xarr[i])
    else:
        print(yarr[i])

1.1
2.2
1.3
1.4
2.5

### Exercício 7

In [62]:
# Crie um array A com 10 elementos e salve o array em disco com a extensão npy
list = np.arange(1, 11, 1)
print(list)
with open('test.npy', 'wb') as f:
    np.save(f, list)

[ 1  2  3  4  5  6  7  8  9 10]

In [63]:
# Depois carregue o array do disco no array B
with open('test.npy', 'rb') as f:
    gol = np.load(f)
    print(gol)

[ 1  2  3  4  5  6  7  8  9 10]

### Exercício 8

In [64]:
# Considerando a série abaixo, imprima os valores únicos na série
import pandas as pd
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c', 'a', 'b'])

In [66]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

### Exercício 9

In [103]:
# Considerando o trecho de código que conecta em uma url na internet, imprima o dataframe conforme abaixo.
import requests
import json
import io
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [109]:
df = resp.json()
df[0]['title']

'ENH: Change `MultiIndex.get_level_values()` to `MultiIndex.get_level()`'

In [112]:
data2 = pd.DataFrame(df, columns=['number', 'title',
                                    'labels', 'state'])
display(data2)

,number,title,labels,state
0,50497,ENH: Change `MultiIndex.get_level_values()` to...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
1,50496,DOC: MultiIndex methods not grouped together,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
2,50495,BUG: `Series.isnull()` and `DataFrame.isnull()...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,50494,DOC: Fix some doctest errors,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
4,50493,CLN avoid some upcasting when its not the purp...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
5,50492,"ENH: ""one-to-one"" validation in left join shou...","[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
6,50491,ENH: Add lazy copy for sort_index,[],open
7,50490,ENH: Add lazy copy for tz_convert and tz_localize,[],open
8,50489,TST: Test cow for set_flags,[],open
9,50488,TST: GH50347 create test for groupby sum of bo...,[],open
10,50487,DOC: IO tools OpenDocument spreadsheets har wr...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
11,50486,BUG: DataFrameGroupBy.value_counts fails with ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,50483,DEPR: Remove unnecessary kwargs in groupby ops,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
13,50482,BUG: SeriesGroupBy.value_counts sorts when sor...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,50481,"DEP: Bump pytest, xdist, hypothesis","[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
15,50479,DEPR: Remove int64 uint64 float64 index tests,[],open
16,50478,ENH: Add lazy copy to swaplevel,[],open
17,50477,ENH: Add lazy copy for truncate,[],open
18,50476,ENH: Add lazy copy for take and between_time,[],open
19,50475,BUG: loc.setitem coercing rhs df dtypes,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
20,50474,DOC: Add pyarrow type equivalency table,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
21,50473,BUG:,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,50472,ENH: Add lazy copy for series.reorder_levels,[],open
23,50471,DOC: Add note about copy on write improvements,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
24,50470,DOC: Add Copy on write whatsnew,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
25,50468,used regular expression in `format_is_iso()`,[],open
26,50467,BUG: unwanted type conversion when partial rea...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,50465,PERF use regular expression in format_is_iso?,"[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open
28,50461,BUG: Order of dict items in DataFrame.from_dic...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,50460,TST: Verify mask's return keeps dtype,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open

### Exercício 10

In [17]:
# Crie um banco de dados no SQLite, crie uma tabela, insira registros, 
import os
import sqlite3

# Criando conexao
con = sqlite3.connect('teste2.db')
# Criando o cursor
cur = con.cursor()

In [18]:
sql_create = 'create table Exemplo '\
'(id integer primary key, '\
'nome varchar(100), '\
'categoria varchar(140),'\
'valor intenger(99999))'

cur.execute(sql_create)

In [21]:
import numpy as np

recset = [(1000, 'Ciência de Dados', 'Data Science', ''),
          (1001, 'Big Data Fundamentos', 'Big Data','' ),
          (1002, 'Python Fundamentos', 'Análise de Dados','')]
sql_insert = 'insert into Exemplo values (?, ?, ?, ?)'
for rec in recset:
    cur.execute(sql_insert, rec)
con.commit()
con.close()

In [23]:
import pandas as pd

conn2 = sqlite3.connect("teste2.db")
tabelas = pd.read_sql_query("select * from Exemplo", conn2)
display(tabelas)

     id                  nome         categoria valor
0  1000      Ciência de Dados      Data Science
1  1001  Big Data Fundamentos          Big Data
2  1002    Python Fundamentos  Análise de Dados

In [30]:
tabelas['valor'] = np.random.rand(3)
display(tabelas)

     id                  nome         categoria     valor
0  1000      Ciência de Dados      Data Science  0.919147
1  1001  Big Data Fundamentos          Big Data  0.389130
2  1002    Python Fundamentos  Análise de Dados  0.815022

# Fim


### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>